.main-container {
  padding: 50px 30px;
}

.menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: flex-start;
  margin: 0px 37.5px;
}

.menu-sidebar {
  flex: 0 0 20%;
}

.menu-sidebar > ul > li {
  list-style: none;

  margin-bottom: 20px;
}

.sidebar-menu_link {
  font-family: Jost, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  text-decoration: none;
}

.sidebar-menu_link:hover {
  color: #bec4c8;
}

.sidebar-menu_link.active {
  border-bottom: 1px solid #000000;

  font-weight: 700;
}

.list-container {
  flex: 0 0 80%;
}

.list-container > ul {
  margin-bottom: 30px;
}

.food-category {
  font-family: Jost, sans-serif;
  color: #000000;
  text-decoration: none;
}

.underline-category {
  margin-bottom: 10px;

  width: 100%;
  border-bottom: 1px solid #ebedee;

  /* text-align: center; */
}

.food-item {
  list-style: none;

  margin-bottom: 25px;
}

.food-item > p > span {
  float: right;

  /* price font size */

  font-size: 15px;
}

.food-item > ul > li {
  list-style: none;
  font-weight: 700;
  padding-left: 30px;
}

.food-item > ul > li > span {
  float: right;

  /* price font size */
  font-weight: 500;
  font-size: 15px;
}

.food-title {
  font-weight: 700;
}

.food-title > span {
  font-weight: 500;
}

.food-description {
  font-size: 14px;
  color: #5d5d5d;
}
